/* ------------- Table des matières
  1-Textes
  2-Icons ------------- */

/* ------------- 1-Textes ------------- */

footer {
  border-top: var(--bleu) solid 2px;
  padding-top: 20px;
}

footer a {
  color: var(--dark);
}

footer p {
  margin: 0;
  padding: 10px 0;
}

.mentions {
  font-size: 0.8rem;
}

.mentions a {
  font-size: 1rem;
}

/* ------------- 2-Icons ------------- */

footer .reseaux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 20px;
  float: right;
}
