/* ------------- Table des matières
  1-Textes
  2-Images ------------- */

/* ------------- 1-Textes ------------- */

#projets > header > h2 {
  margin-bottom: 20px;
}

.projets p {
  background: var(--bleu);
  padding: 1vw;
  text-align: center;
  width: 38vw;
  height: 5vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------- 2-Images ------------- */

.projets img {
  width: 40vw;
  margin: 0;
}
